.schedule {
    padding: var(--space-4);
    margin-top: 30px;
    background-color: var(--primary-100);
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-low);
    color: var(--primary-800);
}

.schedule h3 {
    margin-top: 0;
    color: var(--primary-900);
}

.dayTime {
    display: grid;
    grid-gap: 0 10px;
    grid-template-columns: 120px 1fr;
}

.day, .time {
    margin: 3px 0;
    
}

.time {
    font-weight: 600;
}

@media only screen and (min-width: 900px) {
    .schedule {
        width: 100%;
        margin-top: 0;
    }

    .dayTime {
        grid-template-columns: 140px 1fr;
    }
}