.wrapper {
    min-height: 50px;
    background-color: var(--primary-50);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    min-height: 50px;
    padding: 5px 0;
    text-align: center;
    font-size: var(--type-xxs);
}

.content a {
    text-decoration: none;
    color: var(--primary-900);
    box-shadow: none;
    transition: 400ms;
}

.content a:hover {
    box-shadow: 0 2px 0;
    transition: 400ms;
}