.wrapper {
    min-height: 50px;
    background-color: var(--secondary-500);
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    min-height: 50px;
    padding: 5px 0;
    text-align: center;
    font-size: var(--type-xxs);
}

.content a {
    text-decoration: none;
    color: white;
}

.content a:hover {
    text-decoration: underline;
}