.primary, .accent, .neutral {
    display: inline-block;
    font-size: var(--type-xs);
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px var(--space-5);
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: var(--shadow-elevation-low);
    color: white;
    transition: 300ms;
    text-align: center;
}

.primary {
    background-color: var(--primary-700);
}

.primary:hover {
    background-color: var(--primary-500);
    box-shadow: var(--shadow-elevation-medium);
    transform: translateY(-2px);
    text-decoration: none;
}

.primary:active {
    box-shadow: none;
}

.accent {
    background-color: var(--secondary-700);
}

.accent:hover {
    background-color: var(--secondary-500);
    box-shadow: var(--shadow-elevation-medium);
    transform: translateY(-2px);
    text-decoration: none;
}

.accent:active {
    box-shadow: none;
}

.neutral {
    color: var(--neutral-700);
    background-color: var(--neutral-200);
}

.neutral:hover {
    background-color: var(--neutral-300);
    box-shadow: var(--shadow-s);
    transform: translateY(-2px);
    text-decoration: none;
}

.neutral:active {
    box-shadow: none;
}