.primary, .accent, .neutral {
    display: block;
    width: fit-content;
    font-size: var(--type-xs);
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: var(--shadow-xs);
    color: white;
    transition: 300ms;
    text-align: center;
}

.primary {
    background-color: var(--primary-700);
}

.primary:hover {
    background-color: var(--primary-500);
    box-shadow: var(--shadow-s);
    transform: translateY(-2px);
    text-decoration: none;
}

.primary:active {
    box-shadow: none;
}

.accent {
    background-color: var(--accent-700);
}

.accent:hover {
    background-color: var(--accent-500);
    box-shadow: var(--shadow-s);
    transform: translateY(-2px);
    text-decoration: none;
}

.accent:active {
    box-shadow: none;
}

.neutral {
    color: var(--neutral-700);
    background-color: var(--neutral-200);
}

.neutral:hover {
    background-color: var(--neutral-300);
    box-shadow: var(--shadow-s);
    transform: translateY(-2px);
    text-decoration: none;
}

.neutral:active {
    box-shadow: none;
}