.gridContainer {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.pagination {
    text-align: center;
    padding-top: var(--space-5);
}

.pagination a {
    margin: 0 10px;
    box-shadow: none;
}

.pagination a:hover {
    box-shadow: 0 2px 0;
}

@media only screen and (min-width: 900px) {
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
    }
}