.pill {
    display: inline-block;
    margin: var(--fixed-space-1) 0;
    padding: var(--fixed-space-1) var(--space-2);
    border-radius: 50px;
    font-size: var(--type-xxs);
}

.dot {
    border-radius: 100px;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    margin-right: var(--fixed-space-2);
    display: none;
}

.grey {
    background-color: var(--neutral-100);
    color: var(--neutral-700);
    border-color: var(--neutral-700);
}

.blue {
    background-color: var(--primary-50);
    color: var(--primary-800);
    border-color: var(--primary-800);
}

.red {
    background-color: var(--secondary-50);
    color: var(--secondary-800);
    border-color: var(--secondary-800);
}