.container {
    width: min(90%, 1200px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.intro {
    flex-basis: min(100%, 350px);
    padding: 18px calc(18px + 2vw);
    flex-grow: 2;
}

.form {
    flex-basis: min(100%, 300px);
    padding: 18px calc(18px + 2vw);
    flex-grow: 1;
}

.intro h2 {
    font-weight: 400;
    color: var(--primary-900);
}

.intro strong {
    text-decoration: underline;
}

.mcFieldGroup {
    margin: 16px 0;
}

.mcFieldGroup input {
    display: block;
    margin-top: 4px;
    padding: 12px;
    width: 100%;
    font-family: inherit;
    border-radius: 10px;
    background-color: var(--neutral-50);
    border: 1px solid var(--neutral-300);
    font-size: var(--type-xxs);
}

.button {
    padding: 12px;
    width: 100%;
    margin-top: 8px;
    width: 100%;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    background-color: var(--primary-600);
    color: white;
    font-size: var(--type-xs);
    cursor: pointer;
    box-shadow: var(--shadow-elevation-low);
    transition: 300ms;
    -webkit-appearance: none;
}

.button:hover {
    box-shadow: var(--shadow-elevation-medium);
    transform: translateY(-1px);
}