.container {
    width: min(90%, 1200px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.intro {
    flex-basis: min(100%, 350px);
    padding: 18px 0;
    flex-grow: 2;
}

.form {
    flex-basis: min(100%, 300px);
    padding: 18px 0;
    flex-grow: 1;
}

.intro h2 {
    font-weight: 400;
    color: var(--primary-900);
}

.intro strong {
    text-decoration: underline;
}

.formWrapper {
    padding: var(--space-4) 0;
}

@media only screen and (min-width: 722px) {
    .intro {
        padding-right: calc(18px + 2vw);
    }

    .formWrapper {
        padding-left: calc(18px + 2vw);
    }
}