.section h2, .subheading {
    width: 90%;
    margin: auto auto 20px auto;
    text-align: center;
}

.container {
    width: min(90%, 1400px);
    margin: auto;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    
}

.buttonContainer a {
    width: 47.5%;
    margin-bottom: 0;
}

@media only screen and (min-width: 900px) {
    .section h2 {
        text-align: center;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .container {
        background-color: var(--primary-50);
        border-radius: 10px;
    }

    .gridContainer {
        padding: 2.5%;
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        grid-gap: 20px 5%;
    }

    .buttonContainer {
        padding: 0 2.5%;
    }

    .buttonContainer a {
        margin-bottom: 30px;
    }
}