.section {
    padding: 50px 0;
}

.section h2 {
    width: 90%;
    margin: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.buttonContainer a {
    width: 47.5%;
}

@media only screen and (min-width: 900px) {
    .section h2 {
        text-align: center;
        width: 100%;
        margin: 0 0 30px 0;
    }

    .container {
        background-color: var(--primary-200);
        border-radius: 10px;
    }

    .flexContainer {
        display: flex;
        justify-content: space-around;
    }

    .buttonContainer {
        justify-content: space-around;
    }

    .buttonContainer a {
        width: 45%;
    }
}