.section div {
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: calc(5em + 2vw) 5%;
    background-color: var(--primary-300);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section h1 {
    font-size: var(--type-xxl);
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px 0;
    line-height: 1.25em;
}

.section h2 {
    font-size: var(--type-m);
    font-weight: 400;
    margin: 20px;
}