@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

:root {
    /* Type scale */
    --type-xxs: calc(12px + 0.25vw);
    --type-xs: calc(14px + 0.25vw);
    --type-s: calc(16px + 0.5vw);
    --type-m: calc(18px + 0.75vw);
    --type-l: calc(20px + 1vw);
    --type-xl: calc(22px + 1.5vw);
    --type-xxl: calc(24px + 2vw);

    /* Colours */
    --primary-100: hsl(199, 100%, 97%);
    --primary-200: hsl(199, 97%, 93%);
    --primary-300: hsl(199, 94%, 87%);
    --primary-400: hsl(199, 91%, 75%);
    --primary-500: hsl(199, 88%, 65%);
    --primary-600: hsl(199, 91%, 52%);
    --primary-700: hsl(199, 94%, 45%);
    --primary-800: hsl(199, 97%, 35%);
    --primary-900: hsl(199, 100%, 20%);
    
    --neutral-100: hsl(60, 6%, 96%);
    --neutral-200: hsl(60, 5%, 91%);
    --neutral-300: hsl(60, 4%, 86%);
    --neutral-400: hsl(60, 3%, 80%);
    --neutral-500: hsl(60, 2%, 67%);
    --neutral-600: hsl(60, 3%, 55%);    
    --neutral-700: hsl(60, 4%, 40%);
    --neutral-800: hsl(60, 5%, 27%);
    --neutral-900: hsl(60, 6%, 10%);

    --accent-100:hsl(169, 100%, 97%);
    --accent-200:hsl(169, 97%, 89%);
    --accent-300:hsl(169, 94%, 81%);
    --accent-400:hsl(169, 91%, 73%);
    --accent-500:hsl(169, 88%, 65%);
    --accent-600:hsl(169, 91%, 56%);
    --accent-700:hsl(169, 94%, 47%);
    --accent-800:hsl(169, 97%, 38%);
    --accent-900:hsl(169, 100%, 27%);

    --accent-red-500: hsl(16, 100%, 50%);

    /* Shadows */
    --shadow-xs: 0 1px 3px hsla(0, 0%, 0%, .12), 0 1px 2px hsla(0, 0%, 0%, .24);
    --shadow-s: 0 3px 6px hsla(0, 0%, 0%, .15), 0 2px 4px hsla(0, 0%, 0%, .12);
    --shadow-m: 0 10px 20px hsla(0, 0%, 0%, .15), 0 3px 6px hsla(0, 0%, 0%, .10);
    --shadow-l: 0 15px 25px hsla(0, 0%, 0%, .15), 0 5px 10px hsla(0, 0%, 0%, .05);
    --shadow-xl: 0 15px 35px hsla(0, 0%, 0%, .2);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    color: var(--neutral-800);
}

h2 {
    font-size: var(--type-l);
    margin-top: 0;
    font-weight: 500;
}

h3 {
    font-size: var(--type-m);
    font-weight: 500;
}

h4 {
    font-size: var(--type-s);
    font-weight: 500;
}

p, li {
    font-size: var(--type-xs);
    line-height: 1.5em;
}

ul {
    list-style-type: square;
}

ul li::marker {
    color: var(--primary-500);
}

a {
    color: var(--primary-700);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}