.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container h2 {
    text-align: center;
}

.boxContentContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.boxContentContainer p {
    margin: 5px 0;
}

.lowContrast {
    color: var(--primary-700);
}

.address p {
    margin: 5px 0;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.buttonContainer a {
    width: 47.5%;
}

@media only screen and (min-width: 900px) {
    .gridContainer {
        display: grid;
        grid-template-columns: 47.5% 47.5%;
        grid-gap: 5%;
    }
}