/* Type scale */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

.xxl {
    font-size: var(--type-xxl);
}

.xl {
    font-size: var(--type-xl);
}

.l {
    font-size: var(--type-l);
}

.m {
    font-size: var(--type-m);
}

.s {
    font-size: var(--type-s);
}

.xs {
    font-size: var(--type-xs);
}

.xxs {
    font-size: var(--type-xxs);
}

/* Color Palette */

.primary100 {
    background-color: var(--primary-100);
}

.primary200 {
    background-color: var(--primary-200);
}

.primary300 {
    background-color: var(--primary-300);
}

.primary400 {
    background-color: var(--primary-400);
}

.primary500 {
    background-color: var(--primary-500);
}

.primary600 {
    background-color: var(--primary-600);
    color: var(--neutral-100);
}

.primary700 {
    background-color: var(--primary-700);
    color: var(--neutral-100);
}

.primary800 {
    background-color: var(--primary-800);
    color: var(--neutral-100);
}

.primary900 {
    background-color: var(--primary-900);
    color: var(--neutral-100);
}

.accent100 {
    background-color: var(--accent-100);
}

.accent200 {
    background-color: var(--accent-200);
}

.accent300 {
    background-color: var(--accent-300);
}

.accent400 {
    background-color: var(--accent-400);
}

.accent500 {
    background-color: var(--accent-500);
}

.accent600 {
    background-color: var(--accent-600);
}

.accent700 {
    background-color: var(--accent-700);
}

.accent800 {
    background-color: var(--accent-800);
}

.accent900 {
    background-color: var(--accent-900);
}

.neutral100 {
    background-color: var(--neutral-100);
}

.neutral200 {
    background-color: var(--neutral-200);
}

.neutral300 {
    background-color: var(--neutral-300);
}

.neutral400 {
    background-color: var(--neutral-400);
}

.neutral500 {
    background-color: var(--neutral-500);
}

.neutral600 {
    background-color: var(--neutral-600);
}

.neutral700 {
    background-color: var(--neutral-700);
}

.neutral800 {
    background-color: var(--neutral-800);
}

.neutral900 {
    background-color: var(--neutral-900);
}

/* Shadows */

.xSmallShadow {
    box-shadow: var(--shadow-xs);
}

.smallShadow {
    box-shadow: var(--shadow-s);
}

.mediumShadow {
    box-shadow: var(--shadow-m);
}

.largeShadow {
    box-shadow: var(--shadow-l);
}

.xLargeShadow {
    box-shadow: var(--shadow-xl);
}

/* Buttons */
@media only screen and (min-width: 700px) {
    .buttonContainer {
        display: flex;
        justify-content: space-around;
    }
}