.contactBar {
    height: 50px;
    background-color: var(--neutral-900);
    z-index: 6;
}

.contactBar a {
    text-decoration: none;
    color: var(--neutral-300);
    padding: 10px 5px;
    margin-left: 15px;
    font-weight: 400;
}

.contactBar a:hover {
    color: white;
    text-decoration: none;
}

.contactDetails {
    height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    display: none;
}

.navBar {
    height: 100px;
    box-shadow: var(--shadow-elevation-low);
    z-index: 6;
    display: flex;
}

.navContainer {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    max-height: 99px;
    grid-column-start: 2;
    justify-self: center;
}

.logo img {
    max-height: 99px;
}

.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    font-size: 1.25em;
}

nav {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.navItem, .subNavItem {
    text-decoration: none;
    color: var(--neutral-700);
    padding: 15px 5px;
    margin-left: 15px;
}

.navItem:hover, .subNavItem:hover {
    color: var(--primary-600);
    text-decoration: none;
}

.subNavIcon {
    margin: 0 0 -2px 3px;
    display: none;
}

.subNav {
    display: flex;
    flex-direction: column;
}

.subNavWrapper {
    margin-left: 0;
    display: flex;
}

.subNav h5 {
    padding-bottom: 15px;
    margin: 10px 15px;
    text-transform: uppercase;
    color: var(--primary-600);
    font-weight: 500;
    font-size: var(--type-xs);
    box-shadow: 0 2px 0;
    letter-spacing: 1px;
}

header a {
    box-shadow: none;
}

header a:hover {
    box-shadow: none;
}

@media only screen and (max-width: 900px) {
    nav {
        flex-direction: column;
        position: absolute;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
        top: 150px;
        right: 0;
        z-index: 7;
        height: 0;
        overflow: hidden;
        box-shadow: var(--shadow-elevation-medium);
        border-top: 1px solid var(--primary-100);
    }

    .subNavWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .navItem, .subNavItem {
        display: block;
        width: 100%;
        padding: 15px 0;
        margin: 0;
        color: var(--primary-900);
    }

    .navItem {
        padding-left: 8%;
        font-weight: 700;
        font-size: var(--type-s);
    }

    .navButton {
        background-color: var(--primary-600);
        color: white;
    }

    .navItem:hover, .subNavItem:hover {
        color: var(--neutral-900);
        text-decoration: underline;
    }

    .navButton:hover {
        color: white;
    }

    .subNavItem {
        padding: 10px 0 10px 8%;
        color: var(--neutral-600);
        font-weight: 400;
    }

    .subNavItem:last-child {
        padding-bottom: 15px;
    }

    .subNav h5 {
        font-size: var(--type-xxs);
        padding-bottom: 10px;
        margin: 10px 8%;
    }
}

@media only screen and (min-width: 600px) {
    .email {
        display: inline;
    }

    .contactDetails {
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 900px) {
    .navContainer {
        grid-template-columns: 100px 1fr;
    }

    .logo {
        grid-column-start: 1;
    }

    .toggle {
        display: none;
    }

    .navItem {
        padding: 40px 5px;
    }

    .navButton {
        padding: 13px 20px;
        border-radius: 10px;
        background-color: var(--primary-600);
        color: white;
        text-transform: uppercase;
        box-shadow: var(--shadow-elevation-low);
        transition: 300ms;
    }

    .navButton:hover {
        color: white;
        box-shadow: var(--shadow-xs);
        background-color: var(--primary-500);
    }

    .subNavItem {
        padding: 10px 15px;
        width: 100%;
        margin-left: 0;
        flex-basis: 50%;
    }

    .subNavIcon {
        display: inline-block;
    }

    .subNav {
        position: absolute;
        top: 150px;
        border-top: 5px solid var(--primary-700);
        box-shadow: var(--shadow-elevation-medium);
        background-color: white;
        min-width: 250px;
        padding: var(--space-2);
    }

    .osteoSubnav {
        display: flex;
        width: 650px;
    }

    .subFlexContainer {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: var(--fixed-space-4);
    }

    .subnavClosed {
        display: none;
    }

    .pilatesSubnav {
        display: flex;
    }
}