.sectionHeading {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.txtContainer {
    width: 90%;
    margin: 0 auto 30px auto;
}

.imgContainer {
    width: 90%;
    margin: 30px auto 0 auto;
}

.image {
    box-shadow: var(--shadow-elevation-low);
}

.rotate {
    max-width: 475px;
    margin: auto;
}

.rotate img {
    object-position: top center !important;
}

@media only screen and (min-width: 475px) {
    .rotate {
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 900px) {
    .sectionHeading {
        text-align: center;
        margin-bottom: 30px;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .txtContainer, .imgContainer {
        width: 90%;
        margin: 30px 0;
        padding: 0 2.5%;
    }

    .rotate {
        padding: 5%;
        transform: rotate(350deg);
        margin: 0;
    }
}