.section {
    padding: 50px 0;
    background-color: var(--primary-500);
    color: white;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.container h2 {
    text-align: center;
}

.quoteBox {
    display: flex;
    background-color: hsla(219, 22%, 87%, 0.4);
    padding: 5% 3%;
    border-left: 6px solid white;
    text-align: left;
    width: 100%;
    margin: auto;
}

.quoteBox p {
    padding: 10px 0;
}

.quoteBox:before {
    content: open-quote;
    display: inline;
    line-height: 0;
    left: 0;
    align-self: flex-start;
    position: relative;
    top: 20px;
    color: #fff;
    font-size: var(--type-xxl);
}

.quoteBox:after {
    content: close-quote;
    display: inline;
    line-height: 0;
    right: 10px;
    align-self: flex-end;
    position: relative;
    top: 0;
    color: #fff;
    font-size: var(--type-xxl);
}

@media only screen and (min-width: 900px) {
    .quoteBox {
        width: 85%;
    }
}