.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.quoteBox {
    background-color: var(--primary-800);
    color: var(--primary-50);
    border-left: 8px solid var(--primary-100);
    padding: 5% 3%;
    box-shadow: var(--shadow-elevation-high);
}

.quoteBox h3 {
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font-size: var(--type-xxs);
    letter-spacing: 2px;
    color: var(--primary-100);
}

.quote {
    display: flex;
    text-align: left;
    width: 100%;
    margin: auto;
}

.quote p {
    padding: 10px 0;
}

.quote:before {
    content: open-quote;
    display: inline;
    line-height: 0;
    left: 0;
    align-self: flex-start;
    position: relative;
    top: 20px;
    color: var(--primary-50);
    font-size: var(--type-xxl);
}

.quote:after {
    content: close-quote;
    display: inline;
    line-height: 0;
    right: 10px;
    align-self: flex-end;
    position: relative;
    top: 0;
    color: var(--primary-50);
    font-size: var(--type-xxl);
}

@media only screen and (min-width: 900px) {
    .quoteBox {
        width: 85%;
        margin: auto;
    }
}