.panel {
    width: 100px;
    height: calc(30px + 4vw);
    border-radius: 10px;
    box-shadow: var(--shadow-xs);
    margin-right: calc(10px + 2%);
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.panel:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-xl);
}