footer {
    background-color: var(--neutral-900);
    color: var(--neutral-300);
    padding: 20px 0 10px 0;
}

.container, .bottom {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container h4 {
    color: white;
}

.menu ul {
    padding-left: 0;
    list-style-type: none;
}

.menu li {
    margin: 3px 0;
}

.menu a, .socialLinks a {
    color: var(--neutral-300);
    box-shadow: none;
    font-weight: 400;
}

.menu a:hover {
    color: white;
}

.socialLinks a {
    font-size: var(--type-xl);
    margin: 0 15px 0 0;
}

.accreditations {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 85px);
    grid-gap: 10px;
}

.cepa {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.copyright, .credit {
    margin: 10px 0 5px 0;
}
.credit a {
    color: white;
    text-decoration: underline;
    box-shadow: none;
}

footer a:hover {
    box-shadow: none;
}

@media only screen and (min-width: 900px) {
    .container, .bottom {
        display: flex;
        justify-content: space-between;
    }

    .socialLinks {
        margin-top: 30px;
        text-align: right;
    }

    .socialLinks a {
        margin: 0 0 0 15px;
    }

    .menu ul {
        columns: auto 2;
    }
}