.box {
    box-shadow: var(--shadow-elevation-low);
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: var(--primary-100);
    width: 100%;
}

.heading {
    background-color: var(--neutral-900);
    color: white;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
}

.heading h3 {
    margin: 0;
    font-size: var(--type-s);
}

.body {
    background-color: var(--primary-100);
    color: var(--primary-900);
    padding: 10px 15px;
    border-radius: 0 0 10px 10px;
}